.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-container {
	border-radius: 25px;
  padding: 15px;
  background-color: white;
  color: black
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: grey;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}
