.alert 
{
  padding: 20px;
  background-color: #28A745;
  color: white;
}

.closebtn 
{
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover 
{
  color: black;
}

.buttonDestroyMessage
{ 
  padding: 5px 11.25px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
}